<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>graphQL project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
</head>
<body>
<div class="container" id="app">
    <h3 class="text-center">Titles</h3>
    <div class="columns medium-3" v-for="result in results">
        <div class="card">
            <div class="card-divider">
                {{ result.name }}
            </div>
            <div class="card-section">
                <p>{{ result.created_at }}</p>
                <ul>
                    <li v-for="story in result.stories">{{ story.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="app.js"></script>
</body>
</html>